<div class="interactive-wrapper" id="electra">
	
	<div class="mt">

		<div class="timestampSocial">
			Loading...<span id="timeStamp"></span>
		</div>

		<div class="seatstack seatstack-2PP" id="seatstack">
			<div class="seatstack__summary">
				<div class="seatstack_majority-bars">
					<div class="seatstack__majority">
						76 seats to win
					</div>
					<ul class="seatstack__bar seatstack__two-party">
						<li>
							<div class="seatstack-party-name">
								<h4 data-ticker="coal">Coalition</h4>
								<div class="sprite" style="background-image: url('http://interactive.guim.co.uk/2019/05/aus-election/images/coal.png');"></div>
							</div>
							<div class="seatstack-party-bar">
								<div class="spinner">
									  <div class="bounce1"></div>
									  <div class="bounce2"></div>
									  <div class="bounce3"></div>
								</div>
							</div>
						</li>
						<li>
							<div class="seatstack-party-name">
								<h4 data-ticker="alp">Labor</h4>
								<div class="sprite" style="background-image: url('http://interactive.guim.co.uk/2019/05/aus-election/images/alp.png');"></div>
							</div>
							<div class="seatstack-party-bar">
								<div class="spinner">
									  <div class="bounce1"></div>
									  <div class="bounce2"></div>
									  <div class="bounce3"></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="seatstack__detail"></div>
		</div>
	</div>
</div>