@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

#electra {
	width: 100%;
	background-color: white;
	display: inline-block;
}

@import 'vars';
@import 'election';
@import 'seatstack';

@import 'preloader';

