@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

html,
body {
    @include fs-bodyCopy(2);

    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: white;
}


#electra {
	width: 100%;
	background-color: white;
	display: inline-block;
	overflow: hidden;
}

@import 'vars';
@import 'election';
@import 'seatstack';
@import 'parties';
@import 'preloader';

